.font {
  color: #a9a8b6;
  font-size: 20px;
  font-style: normal;
}

.font1 {
  color: #f60515;
  font-size: 39.8px;
}

.slider {
  width: 100%; /* Ensure the slider container takes up the full width of its parent */
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  /* THIS creates the animation! */
  transition: 400ms opacity ease-in-out;
  transition-delay: 200ms;
}

.active--slide {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

.slide .slider_img {
  height: 100%; /* Maintain the aspect ratio of the image */
  width: 100%;
  filter: brightness(30%);
  object-fit: cover;
  object-position: center;
  transition: 1s;
}

.slide:hover .slider_img {
  transform: scale(1.5);
}

.arrow {
  position: absolute; /* Position the arrows relative to the slider container */
  top: 50%; /* Center vertically */
  transform: translateY(-50%); /* Adjust vertically to center */
  z-index: 2;
  width: 20px; /* Adjust the width as needed */
  height: auto; /* Let the height adjust proportionally */
  margin: 0 20px;
}

.arrow.left {
  left: 0; /* Position the left arrow on the left side */
}

.arrow.right {
  right: 0; /* Position the right arrow on the right side */
}

.hero_text {
  z-index: 1;
  position: absolute;
  top: 40%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(
    -50%,
    -50%
  ); /* Center the element both horizontally and vertically */
  opacity: 0;
  transition: 300ms opacity ease-in-out;
  transition-delay: 200ms;
}

.head {
  font-size: 120px;
  color: #f60515;
  width: 700px;
  height: 130px;
}

.sub_head {
  margin-top: 10px;
  font-size: 40px;
  color: white;
}

/* Media Queries */

@media only screen and (max-width: 768px) {
  .slider {
    height: 300px; /* Adjust the height for smaller devices */
  }

  .hero_text {
    top: 40%;
    width: 100%;

    .head {
      width: 100%;
      font-size: 50px;
      height: 70px;
    }
    .sub_head {
      font-size: 15px;
    }
  }
}

@media only screen and (max-width: 576px) {
  .slider {
    height: 250px; /* Adjust the height for smaller devices */
  }

  .hero_text {
    top: 40%;
    width: 100%;

    .head {
      width: 100%;
      font-size: 50px;
      height: 70px;
    }
    .sub_head {
      font-size: 15px;
    }
  }
}
